/* Background color of webpage */
body {
    background-color: black;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
}

img.location {
    padding-left: 0.25em;
    display: inline-block;
    position: inherit;
    height: 3vh;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

img.registration {
    padding-left: 0.25em;
    display: inline-block;
    position: inherit;
    height: 1.75vh;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

img.logo {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10vh;
    padding-left: 2%;
    padding-bottom: 2%;
}

p.title {
    padding-top: 5%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font: bold 6vh "Georgia", serif;
}

p.roomplan {
    padding-top: 5%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font: bold 5vh "Georgia", serif;
}

p.registration {
    margin-top: -2%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font: bold 2.35vh "Georgia", serif;
}

p.location {
    margin-top: -1%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font: bold 5vh "Georgia", serif;
}

p.date {
    padding-top: 5%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font: bold 5vh "Georgia", serif;
}

p.signature {
    color: #393C4B;
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 2%;
    font-size: 2vh;
}

a.signature {
  text-decoration: none;
  color: #393C4B;
}

a.registration {
    text-decoration: none;
    color: white;
}

/* Snow flakes */
canvas {
    transform: translateY(10px);
    animation: snowfall 1s linear infinite;
  }
  
@keyframes snowfall {
  from { transform: translateY(0); }
  to { transform: translateY(100%); }
}
  
